.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #E1d89f;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  bottom: 0;
  width: 100%;
}


.jumbotron {
  padding:100px 70px 70px 70px;
  margin:0px auto;
  color:floralwhite;
  height: 470px;
  background-image: url(./img/jumbo.jpg);
  background-size: 100% 100%;
  font-family:  'Lato','Hammersmith One','Fjalla One','Merriweather Sans', sans-serif;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #062743;
}

.Example {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Slider{
  height: 500px;

}

.card-item
{
  padding: 20px 10px 10px 10px;
}



button.rec-dot{
  background-color: #0f0f0f;
  box-shadow: 0 0 1px 3px transparent;
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px transparent
}
.rec.rec-arrow {
  border-radius: 100%;
  background-color: transparent;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 1px 3px #E8E8E8;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px transparent;
}

.rec.rec-arrow:hover:enabled, .rec.rec-arrow.focus:enabled{
  color: #fff;
  background-color: #899bc2;
  box-shadow: 0 0 2px 0 #333;
}


.accent-bar{
width: 60px;
height: 6px;
line-height: 1;
display: inline-block;
margin-top: 5px;
margin-right: 0px;
margin-bottom: 20px;
margin-left: 0px;
background-color: #062743;
box-sizing: border-box;


}
.accent-bar-top{
  width: 60px;
  height: 6px;
  line-height: 1;
  display: inline-block;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  background-color:floralwhite;
  box-sizing: border-box;
  
  
  }


/*   .card-body{
    background: radial-gradient(#e5e5e5,#ffff,#e5e5e5);
    
  } */
.card-bottom{
  padding-bottom: 30px;
}

  .card:hover{
    box-shadow: 5px 1px 20px 1px rgba(0,0,0,0.253)!important;
     ;
  }
  
  .card-body{
    height: 200px;
    border-bottom: 30px;
    text-align: center;
  }
  
  .card-text{
    font-size: 0.9rem;
    padding: 0px 10px 0px 10px;
  }
  
  .container-fluid-row{
    padding: 6rem;
  }

.top-carousel{

  padding: 50px 10px 10px 20px;
  font-family: 'Lato','Hammersmith One','Fjalla One','Merriweather Sans', sans-serif;;
}
  
.top-carousel-links{

  padding: 5px 10px 10px 3px;
}

.top-carousel-quick
{
  padding-left: 20px;
}

.top-carousel-slide{
  padding-left: 0px;
  padding-right: 0px;
}

.top-heading{
  align-items: center;
  text-align: center;
}
.top-content{
  text-align: center;
  margin-top:10px;
  padding: 10px 50px 10px 50px;
}

.top{
  background-color:#F8F8F8;
  border-color:#F8F8F8 ;
}


.top-card-item{
  height: 300px;
  border-radius: 50px;
}

.process{
  align-items: center;
  text-align: center;
}

.process-outline{
  padding-top: 50px;
}

.process-content{
  padding-top: 10px;
}

/*sidebar css*/
.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.middle-content{
  background-color: #eeeeee;
}

.middle-content-left{
  text-align: center;
  align-items: center;
  padding-top: 150px;
}

.middle-content-right{
 
  padding: 20px 20px 20px 20px;

}

.middle-content-heading{
  font-weight: bold;
  font-weight: 900;
  font-size: x-large;
}



/*About us page*/

.about-content{
  margin:0px auto;
  padding: 150px 50px 150px 50px;
  border-bottom: 1px ridge;
  align-items: center;
  text-align: center;

}

.about-middle{

  padding: 50px 0px 50px 0px;
  align-items: center;
  text-align: center;

}

.about-bottom{
  background-image: url("https://www.aero-mag.com/wp-content/uploads/2019/05/3DGBIRE.jpg");
  background-size: 100% 100%;
  color: #000000;
  height: 350px;
  padding: 50px 50px 50px 50px ;
  opacity: 0.6;

  
}
/* 



.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
} */


